---
import { LoginForm } from "../components/react/LoginForm";
import AuthLayout from "../layouts/AuthLayout.astro";
---

<AuthLayout>
  <LoginForm client:load />
  <!-- <form action="/api/auth/signin" method="post">
    <label for="email" for="email">Email</label>
    <input
      class="border rounded-lg p-2 mb-3 block"
      type="email"
      name="email"
      id="email"
    />
    <label for="password">Password</label>
    <input
      class="border rounded-lg p-2 mb-3 block"
      type="password"
      name="password"
      id="password"
    />
    <button
      class="rounded-full bg-blue-500 text-white px-6 py-3 uppercase hover:bg-blue-400"
      type="submit">Login</button
    >
  </form> -->
</AuthLayout>
../components/react/LoginForm
