---
import { strings } from "../constants";

const { cookies } = Astro;
const isLogedIn = Boolean(cookies.get(strings.cookies.access.name));
const url = strings.api.LOGOUT;
---

{
  isLogedIn ? (
    <a class="btn btn-warning" href={url}>
      Sign out
    </a>
  ) : null
}
