---
import Head from "../components/Head.astro";
import "../styles/main.css";
---

<html lang="en">
  <Head title="Auth" />
  <body>
    <main class="grid place-items-center h-dvh bg-zinc-400">
      <slot />
    </main>
  </body>
</html>
