---
import { ToastContainer } from "react-toastify";
import "react-toastify/dist/ReactToastify.css";
import Head from "../components/Head.astro";
import "../styles/main.css";
---

<html lang="en">
  <Head title="Auth" />
  <body>
    <main class="grid place-items-center h-dvh bg-zinc-400">
      <slot />
    </main>
    <ToastContainer client:load />
  </body>
</html>
